body {
    background-image: linear-gradient(to bottom, white, #abd2faff);
    margin: 0;
    padding: 0; 
    width: 100%;
    height: 100%;  
}

header {
    background-color: #3d518cff;
    display: flex;
    justify-content: center;
    height: 200px;
}

#header-container {
    display: flex;
    align-items: center;
    max-width: 1750px;
    width: 100%;
    justify-content: center;
    position: relative;
}

main {
    max-width: 1750px;
    min-width: 320px;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    margin: 0;
    text-align: center;
}

#logo {
    position: absolute;
    left: 50px;
    width: 150px;
    height: 150px;
}

section {
    text-align: center;
}

#service {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding-top: 100px;
    height: 600px;
}

#text-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    align-items: bottom;
    border-top: 2px solid #091540ff;
    border-bottom: 2px solid #091540ff;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 200px;
}

#service p {
    max-width: 600px;
    align-self: center;
}

#img-container {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    align-self: flex-start;
    margin-top: 0px;
}

#img-container img {
    max-width: 100%;
    height: auto;
    width: 800px;
    box-shadow: -32px 17px 76px 6px rgba(0,32,69,0.43);
}

form {
    background-color: #7692ff40;
    border: 2px solid #091540ff;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    justify-content: space-between;
}

.options, input, label{
    margin-left: 20%;
    margin-right: 20%;
}

form > :first-child {
    margin-top: 15%;
}

form > :last-child {
    margin-bottom: 15%;
}

#quote {
    padding-top: 100px;
}

#vessel2-container {
    padding-top: 200px;
    padding-bottom: 0px;
    margin: 0;
}

#vessel2-container img {
    opacity: .2;
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

footer {
    background-color: #3d518cff;
    margin: 0;
    margin-top: -5px;
    position: absolute;
    width: 100%;
}





