body {
    background-image: linear-gradient(to bottom, white, #abd2faff);
    margin: 0%; 
    width: 100%;
    height: 100%;  
}

header {
    background-color: #3d518cff;
    display: flex;
    height: 200px;
}

h1 {
    font-size: 50px;
    margin: auto;
    margin-left: 25%;
    margin-right: 25%;
}

header img {
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

section {
    text-align: center;
}

#service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

#text-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#service p {
    max-width: 600px;
}

#img-container {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    width: fit-content;
}

#img-container img {
    max-width: 100%;
    height: auto;
    width: 700px;
    box-shadow: -32px 17px 76px 6px rgba(0,32,69,0.43);
}

form {
    background-color: #7692ff40;
    border: 2px solid #091540ff;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    justify-content: space-between;
}

.options, input, label{
    margin-left: 20%;
    margin-right: 20%;
}

form > :first-child {
    margin-top: 15%;
}

form > :last-child {
    margin-bottom: 15%;
}





